<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>portfolio</key>
	<array>
		<dict>
			<key>icon</key>
			<string>Portfolio_Icon_Finance.png</string>
			<key>PropertyName</key>
			<string>Finance</string>
			<key>DisplayName</key>
			<string>Finance</string>
			<key>AppID</key>
			<string>328412701</string>
			<key>ProductProtocol</key>
			<string>yfinance://</string>
			<key>Type</key>
			<string>App</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Portfolio_Icon_Mail.png</string>
			<key>PropertyName</key>
			<string>Mail</string>
			<key>DisplayName</key>
			<string>Mail</string>
			<key>AppID</key>
			<string>577586159</string>
			<key>ProductProtocol</key>
			<string>ymail://</string>
			<key>Type</key>
			<string>App</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Portfolio_Icon_Messenger.png</string>
			<key>PropertyName</key>
			<string>Messenger</string>
			<key>DisplayName</key>
			<string>Messenger</string>
			<key>AppID</key>
			<string>309219097</string>
			<key>ProductProtocol</key>
			<string>ymsgr://</string>
			<key>Type</key>
			<string>App</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Portfolio_Icon_Sportacular.png</string>
			<key>PropertyName</key>
			<string>Sportacular</string>
			<key>DisplayName</key>
			<string>Sportacular</string>
			<key>AppID</key>
			<string>286058814</string>
			<key>ProductProtocol</key>
			<string>ysportacular://</string>
			<key>Type</key>
			<string>App</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Portfolio_Icon_Weather.png</string>
			<key>PropertyName</key>
			<string>Weather</string>
			<key>DisplayName</key>
			<string>Weather</string>
			<key>AppID</key>
			<string>628677149</string>
			<key>ProductProtocol</key>
			<string>yweather://</string>
			<key>Type</key>
			<string>App</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Portfolio_Icon_Yahoo.png</string>
			<key>PropertyName</key>
			<string>Yahoo!</string>
			<key>DisplayName</key>
			<string>Yahoo!</string>
			<key>AppID</key>
			<string>304158842</string>
			<key>ProductProtocol</key>
			<string>yahoo://</string>
			<key>Type</key>
			<string>App</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Sidebar-Portfolio-Navigation-Icon-More-Apps.png</string>
			<key>DisplayName</key>
			<string>More Apps</string>
			<key>Type</key>
			<string>ExtraApps</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Sidebar-Portfolio-Navigation-Icon-More-Sites.png</string>
			<key>DisplayName</key>
			<string>More Sites</string>
			<key>Type</key>
			<string>ExtraSites</string>
		</dict>
	</array>
</dict>
</plist>
