<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildInfo</key>
	<string>9aea0f651e8a034a59056659bf318ab1cef6ca25
</string>
	<key>SidebarVersionNumber</key>
	<string>2.22.3</string>
</dict>
</plist>
