<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152981801</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>pic</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>服飾</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152982144</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>pic</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>美妝</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152982533</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>pic</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>鞋包配飾</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152982775</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>pic</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>媽咪寶貝</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152982920</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>both</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>電腦/週邊</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152983191</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>both</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>家電/視聽</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152983413</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>both</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>相機/手機/玩具</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152983759</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>pic</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>美食/保健/飲料</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>2144893522</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>pic</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>日用品/清潔/寵物</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152983922</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>pic</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>居家/寢具/傢俱</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152984184</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>pic</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>運動/戶外/休閒</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
	<dict>
		<key>level</key>
		<string>1</string>
		<key>categoryId</key>
		<string>152984562</string>
		<key>isLink</key>
		<string>0</string>
		<key>displayMode</key>
		<string>pic</string>
		<key>parentCategoryId</key>
		<string>0</string>
		<key>name</key>
		<string>圖書/文具/影音</string>
		<key>isAdult</key>
		<string>0</string>
		<key>isLeaf</key>
		<string>0</string>
	</dict>
</array>
</plist>
