<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>de-AT</key>
	<string>https://at.hilfe.yahoo.com/systemstatus</string>
	<key>de-DE</key>
	<string>https://de.hilfe.yahoo.com/systemstatus</string>
	<key>el-GR</key>
	<string>https://gr.help.yahoo.com/systemstatus</string>
	<key>en-AU</key>
	<string>https://au.help.yahoo.com/systemstatus</string>
	<key>en-CA</key>
	<string>https://ca.help.yahoo.com/systemstatus</string>
	<key>en-GB</key>
	<string>https://uk.help.yahoo.com/systemstatus</string>
	<key>en-HK</key>
	<string>https://en-hk.help.yahoo.com/systemstatus</string>
	<key>en-IN</key>
	<string>https://in.help.yahoo.com/systemstatus</string>
	<key>en-JO</key>
	<string>https://en-maktoob.help.yahoo.com/systemstatus</string>
	<key>en-MY</key>
	<string>https://my.help.yahoo.com/systemstatus</string>
	<key>en-NZ</key>
	<string>https://nz.help.yahoo.com/systemstatus</string>
	<key>en-PH</key>
	<string>https://ph.help.yahoo.com/systemstatus</string>
	<key>en-SG</key>
	<string>https://sg.help.yahoo.com/systemstatus</string>
	<key>en-US</key>
	<string>https://help.yahoo.com/systemstatus</string>
	<key>en-ZA</key>
	<string>https://za.help.yahoo.com/systemstatus</string>
	<key>es-AR</key>
	<string>https://ar.ayuda.yahoo.com/systemstatus</string>
	<key>es-CL</key>
	<string>https://cl.ayuda.yahoo.com/systemstatus</string>
	<key>es-CO</key>
	<string>https://co.ayuda.yahoo.com/systemstatus</string>
	<key>es-ES</key>
	<string>https://es.ayuda.yahoo.com/systemstatus</string>
	<key>es-MX</key>
	<string>https://mx.ayuda.yahoo.com/systemstatus</string>
	<key>es-PE</key>
	<string>https://pe.ayuda.yahoo.com/systemstatus</string>
	<key>es-US</key>
	<string>https://es-us.ayuda.yahoo.com/systemstatus</string>
	<key>es-VE</key>
	<string>https://ve.ayuda.yahoo.com/systemstatus</string>
	<key>fr-BE</key>
	<string>https://be.aide.yahoo.com/systemstatus</string>
	<key>fr-CA</key>
	<string>https://fr-ca.aide.yahoo.com/systemstatus</string>
	<key>fr-FR</key>
	<string>https://fr.aide.yahoo.com/systemstatus</string>
	<key>id-ID</key>
	<string>https://id.bantuan.yahoo.com/systemstatus</string>
	<key>it-IT</key>
	<string>https://it.aiuto.yahoo.com/systemstatus</string>
	<key>pl-PL</key>
	<string>https://pl.pomoc.yahoo.com/systemstatus</string>
	<key>pt-BR</key>
	<string>https://br.ajuda.yahoo.com/systemstatus</string>
	<key>ro-RO</key>
	<string>https://ro.ajutor.yahoo.com/systemstatus</string>
	<key>ru-RU</key>
	<string>https://ru.help.yahoo.com/systemstatus</string>
	<key>tr-TR</key>
	<string>https://tr.help.yahoo.com/systemstatus</string>
	<key>vi-VN</key>
	<string>https://vn.trogiup.yahoo.com/systemstatus</string>
	<key>TW</key>
	<string>https://tw.help.yahoo.com/systemstatus</string>
	<key>HK</key>
	<string>https://hk.help.yahoo.com/systemstatus</string>
</dict>
</plist>
